<div id="buttons">
  <%= image_tag("/images/nav/new_site.png", title: "New Site", onclick: "showView($('#new_site_form'));", id: "new_site_button") %>
  <%= image_tag("/images/nav/edit_site.png", title: "Edit Site", onclick: "showView($('#edit_site_form'));", id: "edit_site_button") %>
  <%= image_tag("/images/nav/upload.png", title: "Upload Site Map", onclick: "showView($('#upload_form'));", id: "upload_button") %>
  <%= image_tag("/images/nav/new_ap.png", title: "New AP", onclick: "showView($('#new_ap_form'));", id: "new_ap_button") %>
  <%= image_tag("/images/nav/edit_open.png", title: "Open AP Menu", onclick: "toggle();", id: "edit_toggle") %>
</div>