<div id="main_dropzone" id="main_dropzone">
  <div id="site_img" data-x="<%= @site_x %>">
    <% if @site_img.nil? %>
      <h3>(No map set)</h3>
    <% else %>
      <%= image_tag(@site_img, id: "site_map", class: "dropzone", data: {dimx: @site_x, dimy: @site_y}) %>
    <% end %>
  </div>
</div>

<%= render partial: "right_pane", locals: {sites: @sites, site_uuid: @site_uuid, site_text: @site_text, site_img: @site_img, aps_not_added: @aps_not_added, ap_names: @ap_names, ap_hosts: @ap_hosts, site_names: @site_names, site_abbrevs: @site_abbrevs} %>

<% if Rails.configuration.x.ldap.enable %>
  <div id="user_info">
    Logged in as <strong><%= @current_user %></strong> |
    <%= link_to "Logout", logout_path, method: :delete %>
  </div>
<% end %>

<% unless @site_img.nil? %>
  <ul id="added">
    <% if @aps_added %>
      <% @aps_added.each do |ap| %>
        <li id="<%= ap[0] %>" class="draggable droppable" data-propx="<%= ap[4] %>" data-propy="<%= ap[5] %>">
          <%= render partial: "ap", locals: {site_uuid: @site_uuid, this_ap: ap} %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>